
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    display: flex;
    
    align-items: flex-start;
    height: 100vh;
    padding: 20px;
}




/* Título */
h1 {
    
    margin-bottom: 20px;
    background-color: #deffdb;
}


.input-note {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
   
    border-radius: 4px;
}


.checkbox-container {
    text-align: left;
    margin-bottom: 10px;
}

/* Botoes de acoa**/
.add-btn, .remove-last-btn, .clear-btn {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f0f0f0;
    cursor: pointer;
}

.add-btn:hover, .remove-last-btn:hover, .clear-btn:hover {
    background-color: #e0e0e0;
}


.nota-box-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}


.nota-box {
    flex: 1;
    min-width:760px; 
    padding: 10px;
    border-radius: 4px;
    height: 300px;
    overflow-y: auto;
}


.urgente-box {
    background-color: #9e3636;
}

.nao-urgente-box {
    background-color: #d4c325;
}

.nota-list {
    list-style-type: none;
    padding: 0;
}

.nota-item {
    padding: 8px;
    margin-bottom: 6px;
    border-radius: 4px;
    text-align: left;
    color: white;
}

.azul {
    background-color: #32638b;
}

.verde {
    background-color: #308533;
}

.roxo {
    background-color: #4d297c;
}
