/* Resetando margens e paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    
    align-items: flex-start;
    height: 100vh;
    padding: 20px;
}




/* Título */
h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo do campo de input */
.input-note {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilo da checkbox */
.checkbox-container {
    text-align: left;
    margin-bottom: 10px;
}

/* Botões de ação */
.add-btn, .remove-last-btn, .clear-btn {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f0f0f0;
    cursor: pointer;
}

.add-btn:hover, .remove-last-btn:hover, .clear-btn:hover {
    background-color: #e0e0e0;
}

/* Layout das caixas de notas (horizontal) */
.nota-box-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

/* Caixa para as notas */
.nota-box {
    flex: 1;
    min-width: 300px; /* Tamanho mínimo das caixas */
    padding: 10px;
    border-radius: 4px;
    height: 300px;
    overflow-y: auto;
}

/* Caixa de notas urgentes */
.urgente-box {
    background-color: #9e3636;
}

/* Caixa de notas não urgentes */
.nao-urgente-box {
    background-color: #d4c325;
}

/* Lista de notas */
.nota-list {
    list-style-type: none;
    padding: 0;
}

/* Estilo de cada nota */
.nota-item {
    padding: 8px;
    margin-bottom: 6px;
    border-radius: 4px;
    text-align: left;
    color: white;
}

/* Cores das notas (azul, verde, roxo) */
.azul {
    background-color: #32638b;
}

.verde {
    background-color: #308533;
}

.roxo {
    background-color: #4d297c;
}
